.mybg{
    background-color: #e7e7e7;
}

.errorContainer{
    height: 120px;
    overflow-y: scroll !important;
}

.querydiv{
    max-height: 520px;
    overflow-y: scroll !important;
}

.main{
    height: 100vh !important;
}
.spx{
    height: 7px;
}